*{
    top: 0;
    left: 0;
}
body {
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
}
nav{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: #0078D7;
    overflow: auto;
    height: auto;
 }
 .left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
 }
 .links span {
     padding: 10px;
     /* width: 20%;
     height: 50px; */
     border: 1px solid #fff;
     border-radius: 50%;
 }
 .searchContainer {
    margin-left: 30%;
 }
 .searchIcon {
    position:relative;
    left: 30px;
    z-index:999;
    color: #5385f0;
  }
 .search-box {
    width: 25%;
    height: 35px;
    border: 0px;
    border-radius: 3px;
    background-color: #c3dcf7;
    cursor: pointer;
 }

 .search-box:hover {
     background-color: #fff;
 }
.left-side-bar {
    display: inline-block;
    margin-top: 40px;
    margin-left: 0px;
    background-color: #f4f4f4;
    width: 20%;
    height: 635px;
}
/* .left-side-toggle {
    background-color: #f4f4f4;
    margin-top: 50px;
    width: 5%;
    height: 635px;
} */
.left-arrow i {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}
/* .list .sub-list:hover {
    background-color: #fff;
} */
#element .list {
    padding-left: 20px;
   
}
li {
    list-style: none;
    color: #34373d;
    line-height: 50px;
    cursor: pointer;
}
 
#element ul li:hover {
    background-color: #fff;
}

#icons {
    padding-right: 1.2em;
    color: #767678;
}
#left-side-arrow-icon {
    color: #767678;
}
.category {
    margin-left: 15px;
}
.category i {
    color: #767678;
}
.category:hover {
    background-color: #fff;
}
.side-bar-icon {
    font-size: 20px;
    font-weight: 200;
}
.category input {
    outline: none;
    height: 40px;
    border: 0px;
    margin-left: 15px;
    background-color: #f4f4f4;
}
.category input:hover {
    background-color: #fff;
}
.list-name-1 {
    display: none;
}

.task-part {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 30px;
    width: 70%;
}
.task-part-1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 30px;
    width: 50%;
    height: 620px;
    box-shadow: 5px 0 10px -5px rgba(0,0,0,0.1);
}
.task-part h3 {
    color: #0078D7;
}

.task-value ul {
    padding-left: 0px;
}

.task-value span {
    font-size: 15px;
    /* margin-left: 20px; */
    margin-top: 10px;
    left: 0;
}

.task-box {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

#assigned-task li {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;

}

#assigned-task li input[type="checkbox"] {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 0px;

}

#assigned-task li span {
    margin-left: 20px;
}
input[type="checkbox"]:checked + span {
    text-decoration:line-through;
 }

.task-part .assign-task {
    /* width: 50%; */
    outline: none;
    border: 0;
    margin-left: 20px;
}

.task-part-1 .assign-task {
    /* width: 50%; */
    outline: none;
    border: 0;
    margin-left: 20px;
}
.important {
    margin-top: 25px;
    float: right;
    padding-right: 20px;
}
.task-value ul li:hover {
    background-color: #f4f6ff;
}
.step {
    display: inline-block;
    width: 27%;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 5px;
}
#add-steps {
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
#add-steps span {
    padding-left: 1em;
}
.steps-checkbox {
    margin-left: 20px;
}
.important-start {
    padding-right: 15px;
    margin-top: 10px;
    float: right;
}
.step-box {
    margin-left: 20px;
}
.step-text-box {
    border: none;
    outline: none;
    margin-left: 15px;
}
.btn {
    padding-right: 15px;
    float: right;
    color: #0078D7;
    cursor: pointer;
}
.step-list ul {
    padding-left: 18px;
}
.step-list ul li:hover {
   background-color: #e5e5e5;

}
.steps-value {
    width: 24em;
    border-bottom: 1px solid #e5e5e5;
}
.break {
    padding-top: 20px;
}
.delete-icon {
    float: right;
    margin-top: 20px;
    padding-right: 15px;
}



