@font-face {
  src: url(../fonts/Roboto-Regular.ttf);
  font-family: roboto;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eae8e7;
  font-family: roboto;
}

body .container {
  padding-top: 30px;
  margin: auto;
  width: 70%;
}

body .container .left-container {
  display: inline-block;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 35%;
  background-color: #5da4d8;
}

body .container .left-container .img-bx img {
  width: 100%;
  height: 60%;
}

body .container .left-container .contact-icon {
  margin-top: 15px;
  display: inline-block;
  width: 10%;
  vertical-align: top;
  margin-left: 45px;
  color: #fff;
}

body .container .left-container .contact-description {
  margin-top: 15px;
  display: inline-block;
  width: 70%;
  color: #d5e6f0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6dadb;
}

body .container .left-container .contact-description .personal {
  display: block;
}

body .container .left-container .contact-description .floor {
  font-size: 10px;
}

body .container .left-container .contact-description .street {
  display: block;
}

body .container .left-container .contact-description .home-code {
  font-size: 10px;
}

body .container .left-container .contact-description .left-side-break {
  margin-top: 20px;
}

body .container .left-container .progress_bar .skill_progress {
  width: 85%;
  margin: 15px 0px;
  height: 2px;
  background: #d6dadb;
  position: relative;
}

body .container .left-container .progress_bar .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

body .container .right-container {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}

body .container .right-container .carrier-profile {
  margin-left: 20px;
  background-color: #fff;
  line-height: 23px;
  padding: 28px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

body .container .right-container .carrier-profile .specification {
  font-size: 12px;
}

body .container .right-container .carrier-profile .carrier-profile-title {
  margin-left: 50px;
  color: #817270;
  font-size: 30px;
  font-weight: 600;
}

body .container .right-container .carrier-profile .icons {
  font-size: 30px;
  color: #767270;
}

body .container .right-container .carrier-profile .carrier-info {
  margin-left: 15%;
  margin-top: 25px;
}

body .container .right-container .carrier-profile .carrier-info .role h5 {
  font-size: 15px;
  color: #817270;
}

body .container .right-container .carrier-profile .carrier-info .content p {
  margin-top: 2px;
  color: #dbd1c3;
  font-size: 15px;
}

body .container .right-container .carrier-profile .carrier-info .date span {
  color: #97caee;
}

body .container .right-container .carrier-profile .carrier-info .hr {
  margin-top: 15px;
  border-bottom: 1px solid #d6dadb;
}

body .container .right-container .carrier-profile .carrier-info .role {
  margin-top: 15px;
}

body .container .right-container .carrier-profile .Insterest-icons {
  color: #5ea6dc;
  font-size: 35px;
  margin-left: 28px;
  margin-top: 40px;
}

body .container .right-container .carrier-profile .Insterest-icons i {
  padding-left: 1.7em;
}

body .container .right-container .carrier-profile .carrier-profile-interest {
  margin-left: 10%;
  color: #817270;
  font-size: 30px;
  font-weight: 600;
}

body .container .right-container .carrier-profile .footer_link a {
  text-decoration: none;
  color: #97caee;
}

body .container .right-container .carrier-profile .footer_link_2 {
  margin-left: 25%;
}

body .container .right-container .break {
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */