*{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    line-height: 2.5rem;
}
 li:hover {
     background-color: #fff;
     cursor: pointer;
 }
 .category-container {
    background-color: #f4f4f4;
    height: 555px;
    overflow: auto;
 }
.icon {
    font-size: 15px;
}
input[type="text"] {
    border: 0;
    outline: none;
    background-color: #f4f4f4;
    height: 50px;
}
input[type="text"]:hover {
    height: 50px;
    background-color: #fff;
}
.form-group:hover {
    height: 50px;
    background-color: #fff;
}
