
.bg-dark {
    background-color: #0078D7!important;
}

.links span {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
     justify-content: center;
  }

  .nav-text {
    color: #fff;
  }

  .has-search .search-box {
    padding-left: 2.375rem;
    width: 355px;
    height: 35px;
    border: 0px;
    border-radius: 3px;
    background-color:#c3dcf7;
    cursor: pointer;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #0078D7;
}

.has-search .search-box:hover {
    background-color: #fff;
}
