<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-th nav-text"></i></a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link nav-text" href="#"><span class="nav-text">Todo</span></a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <form class="form-inline">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="search-box" data-toggle="tooltip" data-placement="left" title="search" />
                  </div>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link" href="#"><i class="fa fa-cog nav-text"></i></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#"><i class="fa fa-question nav-text"></i></a>
            </li>
            <li class="nav-item mt-1">
                <a class="links" href="#"><span class="nav-text">V</span></a>
            </li>
        </ul>
    </div>
</nav>
 